<div id="favorite"> 
    <% if product.favorite %>
    <%= link_to 'unlike', favorite_path(product),  data: { 
        turbo_method: :delete}
        %>
    <% else %>
    <%= link_to 'like', favorites_path(product_id: product.id), data: {
        turbo_method: :post}
        %>
    <% end %>
</div>